<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <Property Id="SSMS18INSTALLROOT" Value="C:\Program Files (x86)\Microsoft SQL Server Management Studio 18">
      <RegistrySearch
        Id="SSMS18INSTALLROOT"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Microsoft SQL Server Management Studio\18"
        Name="SSMSInstallRoot"
        Type="raw" />
    </Property>
	</Fragment>
</Wix>
