<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)Directories.wxi?>
<?include $(var.ConfigDir)Common.Config.wxi?>
<?include $(var.ConfigDir)Config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="$(var.ProductCode)"
	         Name="$(var.ProductName)"
	         Language="$(var.ProductLanguage)"
	         Codepage="$(var.ProductCodepage)"
	         Version="!(bind.fileVersion.File.VSPackage)"
	         Manufacturer="$(var.ProductManufacturer)"
	         UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="$(var.InstallerVersion)"
		         Manufacturer="$(var.ProductManufacturer)"
		         InstallPrivileges="elevated"
		         InstallScope="perMachine"
		         Platform="$(var.Platform)"
		         Compressed="yes" />

    <PropertyRef Id="Common" />
    <PropertyRef Id="Prerequisits" />
    <PropertyRef Id="SSMS18INSTALLROOT" />
    <PropertyRef Id="SSMS19INSTALLROOT" />
    <PropertyRef Id="SSMS20INSTALLROOT" />
    <PropertyRef Id="SSMS21INSTALLROOT" />

    <Media Id="1" Cabinet="media.cab" EmbedCab="yes" CompressionLevel="high" />
    
    <MajorUpgrade AllowDowngrades="no"
		              AllowSameVersionUpgrades="no"
		              DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
		              MigrateFeatures="yes" Disallow="yes"
		              DisallowUpgradeErrorMessage="!(loc.DisallowUpgradeErrorMessage)" />

    <Property Id="INSTALLLEVEL" Value="3" />

    <InstallUISequence>
      <Custom Action="Runvswhere_ssms21_vbs" After="AppSearch">NOT Installed OR REINSTALL</Custom>
    </InstallUISequence>
    
    <!-- directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLLOCATION" Name="$(var.InstallName)">
          <Directory Id="INSTALLLOCATIONDE" Name="de" />
        </Directory>
      </Directory>
      <Directory Id="SSMS18INSTALLROOT" Name="[SSMS18INSTALLROOT]">
        <Directory Id="SSMS18.Common7" Name="Common7">
          <Directory Id="SSMS18.IDE" Name="IDE">
            <Directory Id="SSMS18.Extensions" Name="Extensions">
              <Directory Id="SSMS18.Extensions.DF" Name="SsmsDatabaseFolders">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="SSMS19INSTALLROOT" Name="[SSMS19INSTALLROOT]">
        <Directory Id="SSMS19.Common7" Name="Common7">
          <Directory Id="SSMS19.IDE" Name="IDE">
            <Directory Id="SSMS19.Extensions" Name="Extensions">
              <Directory Id="SSMS19.Extensions.DF" Name="SsmsDatabaseFolders">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="SSMS20INSTALLROOT" Name="[SSMS20INSTALLROOT]">
        <Directory Id="SSMS20.Common7" Name="Common7">
          <Directory Id="SSMS20.IDE" Name="IDE">
            <Directory Id="SSMS20.Extensions" Name="Extensions">
              <Directory Id="SSMS20.Extensions.DF" Name="SsmsDatabaseFolders">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="SSMS21INSTALLROOT" Name="[SSMS21INSTALLROOT]">
        <Directory Id="SSMS21.Common7" Name="Common7">
          <Directory Id="SSMS21.IDE" Name="IDE">
            <Directory Id="SSMS21.Extensions" Name="Extensions">
              <Directory Id="SSMS21.Extensions.DF" Name="Community">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- files -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Files.Ssms18" Guid="{4F5EEC5F-62BC-4713-AC02-4906725FDCC9}">
        <File Id="File.Ssms18" Source="$(var.Ssms18.TargetPath)" />
      </Component>
      <Component Id="Files.Ssms19" Guid="{B7966FF2-F818-4146-B658-D314C520794D}">
        <File Id="File.Ssms19" Source="$(var.Ssms19.TargetPath)" />
      </Component>
      <Component Id="Files.Ssms20" Guid="{84DF5E0A-3F85-4869-B485-A29E29CF071E}">
        <File Id="File.Ssms20" Source="$(var.Ssms20.TargetPath)" />
      </Component>
      <Component Id="Files.Ssms21" Guid="{0D9A064F-3233-4F5B-BA75-27789CC9BD24}">
        <File Id="File.Ssms21" Source="$(var.Ssms21.TargetPath)" />
      </Component>
      <Component Id="Files.Interfaces" Guid="{E0018001-55B3-46E9-9ADB-6E8306A1E132}">
        <File Id="File.Interfaces" Source="$(var.Interfaces.TargetPath)" />
      </Component>
      <Component Id="Files.VSPackage" Guid="{9ECCC463-34EB-4A0D-96AA-958B074BD8C0}">
        <File Id="File.VSPackage" Source="$(var.VSPackage.TargetPath)" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLLOCATIONDE">
      <Component Id="Files.VSPackage.de" Guid="{1E98206E-76B7-4D3B-9E2A-738859EEE7AB}">
        <File Id="File.VSPackage.de" Source="$(var.VSPackage.TargetDir)de\$(var.VSPackage.TargetName).resources.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SSMS18.Extensions.DF">
      <Component Id="Files.Ssms18.Package" Guid="{F3429F83-6AC2-47BD-83CC-B4C59B321885}">
        <File Id="File.Ssms18.pkgdef" Source="$(var.VSPackage.TargetDir)SsmsDatabaseFolders.VSPackage.pkgdef" />
        <File Id="File.Ssms18.vsixmanifest" Source="$(var.VSPackage.TargetDir)extension.vsixmanifest" />
        <IniFile Id="Ini1"
                 Action="addLine"
                 Directory="SSMS18.Extensions.DF"
                 Section="$RootKey$\Packages\{2d162307-505c-4f59-9e87-e7e579c4bf9d}"
                 Name="SsmsDatabaseFolders.VSPackage.pkgdef"
                 Key="&quot;CodeBase&quot;"
                 Value="&quot;[INSTALLLOCATION]$(var.VSPackage.TargetFileName)&quot;" />
        <Condition>SSMS18INSTALLROOT</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SSMS19.Extensions.DF">
      <Component Id="Files.Ssms19.Package" Guid="{6EC004F3-EE39-4161-A7E3-DFCA417E5F65}">
        <File Id="File.Ssms19.pkgdef" Source="$(var.VSPackage.TargetDir)SsmsDatabaseFolders.VSPackage.pkgdef" />
        <File Id="File.Ssms19.vsixmanifest" Source="$(var.VSPackage.TargetDir)extension.vsixmanifest" />
        <IniFile Id="Ini19"
                 Action="addLine"
                 Directory="SSMS19.Extensions.DF"
                 Section="$RootKey$\Packages\{2d162307-505c-4f59-9e87-e7e579c4bf9d}"
                 Name="SsmsDatabaseFolders.VSPackage.pkgdef"
                 Key="&quot;CodeBase&quot;"
                 Value="&quot;[INSTALLLOCATION]$(var.VSPackage.TargetFileName)&quot;" />
        <Condition>SSMS19INSTALLROOT</Condition>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="SSMS20.Extensions.DF">
      <Component Id="Files.Ssms20.Package" Guid="{0254EF84-A56A-44FD-A9FD-E774DAE4D01E}">
        <File Id="File.Ssms20.pkgdef" Source="$(var.VSPackage.TargetDir)SsmsDatabaseFolders.VSPackage.pkgdef" />
        <File Id="File.Ssms20.vsixmanifest" Source="$(var.VSPackage.TargetDir)extension.vsixmanifest" />
        <IniFile Id="Ini20"
                 Action="addLine"
                 Directory="SSMS20.Extensions.DF"
                 Section="$RootKey$\Packages\{2d162307-505c-4f59-9e87-e7e579c4bf9d}"
                 Name="SsmsDatabaseFolders.VSPackage.pkgdef"
                 Key="&quot;CodeBase&quot;"
                 Value="&quot;[INSTALLLOCATION]$(var.VSPackage.TargetFileName)&quot;" />
        <Condition>SSMS20INSTALLROOT</Condition>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SSMS21.Extensions.DF">
      <Component Id="Files.Ssms21.Package" Guid="{66F21849-4BA2-4420-AC11-BB0E5BB4BF5E}" Win64="yes">
        <File Id="File.Ssms21.pkgdef" Source="$(var.VSPackage.TargetDir)SsmsDatabaseFolders.VSPackage.pkgdef" />
        <IniFile Id="Ini21"
                 Action="addLine"
                 Directory="SSMS21.Extensions.DF"
                 Section="$RootKey$\Packages\{2d162307-505c-4f59-9e87-e7e579c4bf9d}"
                 Name="SsmsDatabaseFolders.VSPackage.pkgdef"
                 Key="&quot;CodeBase&quot;"
                 Value="&quot;[INSTALLLOCATION]$(var.VSPackage.TargetFileName)&quot;" />
        <Condition>SSMS21INSTALLROOT</Condition>
      </Component>
    </DirectoryRef>

    <!-- features -->
    <Feature Id="CompleteInstall" Title="$(var.ProductName)" Level="1" InstallDefault="local" AllowAdvertise="no">
      <Feature Id="Ssms18Features" Title="Microsoft SQL Management Studio 18" Level="1"
               Description="!(loc.DescriptionFeatureSsms18)"
               InstallDefault="local" AllowAdvertise="no" TypicalDefault="install">

        <ComponentRef Id="Files.Ssms18" />
        <ComponentRef Id="Files.Ssms19" />
        <ComponentRef Id="Files.Ssms20" />
        <ComponentRef Id="Files.Ssms21" />
        <ComponentRef Id="Files.Interfaces" />
        <ComponentRef Id="Files.VSPackage" />
        <ComponentRef Id="Files.VSPackage.de" />
        <ComponentRef Id="Files.Ssms18.Package" />
      </Feature>
      <Feature Id="Ssms19Features" Title="Microsoft SQL Management Studio 19" Level="1"
               Description="!(loc.DescriptionFeatureSsms19)"
               InstallDefault="local" AllowAdvertise="no" TypicalDefault="install">

        <ComponentRef Id="Files.Ssms18" />
        <ComponentRef Id="Files.Ssms19" />
        <ComponentRef Id="Files.Ssms20" />
        <ComponentRef Id="Files.Ssms21" />
        <ComponentRef Id="Files.Interfaces" />
        <ComponentRef Id="Files.VSPackage" />
        <ComponentRef Id="Files.VSPackage.de" />
        <ComponentRef Id="Files.Ssms19.Package" />
      </Feature>
      <Feature Id="Ssms20Features" Title="Microsoft SQL Management Studio 20" Level="1"
               Description="!(loc.DescriptionFeatureSsms20)"
               InstallDefault="local" AllowAdvertise="no" TypicalDefault="install">

        <ComponentRef Id="Files.Ssms18" />
        <ComponentRef Id="Files.Ssms19" />
        <ComponentRef Id="Files.Ssms20" />
        <ComponentRef Id="Files.Ssms21" />
        <ComponentRef Id="Files.Interfaces" />
        <ComponentRef Id="Files.VSPackage" />
        <ComponentRef Id="Files.VSPackage.de" />
        <ComponentRef Id="Files.Ssms20.Package" />
      </Feature>
      <Feature Id="Ssms21Features" Title="Microsoft SQL Management Studio 21" Level="1"
               Description="!(loc.DescriptionFeatureSsms21)"
               InstallDefault="local" AllowAdvertise="no" TypicalDefault="install">

        <ComponentRef Id="Files.Ssms18" />
        <ComponentRef Id="Files.Ssms19" />
        <ComponentRef Id="Files.Ssms20" />
        <ComponentRef Id="Files.Ssms21" />
        <ComponentRef Id="Files.Interfaces" />
        <ComponentRef Id="Files.VSPackage" />
        <ComponentRef Id="Files.VSPackage.de" />
        <ComponentRef Id="Files.Ssms21.Package" />
      </Feature>

    </Feature>

    <!-- ui variables -->
    <WixVariable Id="WixUIBannerBmp" Value="Resources\setup_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\setup_dialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="..\..\LICENSE.rtf" />

    <UI Id="UIElements">
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Product>
</Wix>